# Spark outputs
checkpoints/
output/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# models 
model/*.pkl